*
{
    font-family: 'Roboto Mono', monospace;
    line-height: 1.5;
}
.til-fin
{
    margin-left:10px;
}
.topic
{
    padding:5px;
    background-color: rgb(255,192,190);
}
.codes
{
    margin:1%;
    width:40%;
    background-color: paleturquoise;
    padding:10px;
}
.codes2
{
    margin:1%;
    width:30%;
    background-color: paleturquoise;
    padding:10px;
}
.in
{
    text-indent:5%;
}
.in2
{
    text-indent:8%;
}
.highlight
{
    background-color: orangered;
    text-decoration: underline;
    color:white;
    padding:5px;
}
.highlight2
{
    background-color: orange;
    color:orangered;
    padding:5px;
}